<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="chromeTests">
  <parameter name="browsername" value="chrome" /> 
    <classes>
      <class name="com.jan23.tests.TekarchAutomation"/>
    </classes>
  </test> <!-- Test -->
  
 <!--  <test name="firefoxTests">
  <parameter name="browsername" value="firefox" /> 
    <classes>
      <class name="com.jan23.tests.TekarchAutomation"/>
    </classes>
  </test>
   -->
</suite> <!-- Suite -->